.container-fluid{
    display: flex;
    flex-direction: column;
    background-color: #b85a4c;
    

}
.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
   
}
.collapse{
    width: 101.5%;
    background-color: #803f36;
}
.user{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    align-items: flex-end;
margin-left: 15%;
}

.user :hover{
text-decoration: underline;

}

.user2{

  display: flex;  
justify-content: flex-end;
width: 100%;
}
.navbar{
padding: 0%;
}
.nav-link {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.nav-link:hover{
    color: rgb(84, 84, 84);

}

.dropdown-toggle{
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.dropdown-toggle:hover{
    color: rgb(84, 84, 84);
}
.tamañologo{
    width: 60%;
}