.container-fluid{
    display: flex;
    flex-direction: column;

}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.collapse{
    width: 70%;
}
.user{
    display: flex;
    flex-direction: row;
    border-style: solid;
    width: 20%;
    
}