.container-fluid{
    display: flex;
    flex-direction: column;
    background-color: #e26d5c;
    

}
.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
   
}
.collapse{
    width: 101.5%;
    background-color: #723d46;
}
.user{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    align-items: flex-end;
margin-left: 25%;
}

.user :hover{
color: white;

}

.user2{

  display: flex;  
justify-content: flex-end;
width: 100%;
}
.navbar{
padding: 0%;
}
.nav-link {
    color: white;
}
.dropdown-toggle{
    color: rgb(255, 255, 255);
}
.tamañologo{
    width: 50%;
}