.cards-carousel{
display: flex;
flex-direction: row;
width: 80%;


}
.combosh3{

margin-left: 2%;
font-family: "Lato", sans-serif;
text-decoration: underline;
}
.combosh4{

    margin-left: 4%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: "Lato", sans-serif;
    }
.icons{
    width: 5%;
    height: 5%;
}
.iconos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-self: center;
}
.btn-primary{
    background-color: #b85a4c;
    border-color: #b85a4c;
}
.btn-primary:hover{
    background-color: #924f5a;
    border-color: #924f5a;
}
.card-title:hover{
text-decoration: underline;
}

.client-atentetion{

    width: 30%;
    margin: 1%;

}

.cabina-text{
    width: 40%;
   
}

.cabina-text1{
    width: 70%;
}

.mw-40{
    width: 20%;
}
.ml-3{
    margin-left: 11%;
    margin-bottom: 2%;
}
.colorayuda1{
    background-color: #e0705e;
}
.colorayuda2{
    background-color: #803f36;
    padding: 2%;
}
.btn-primary{
    background-color: #803f36;
    width: 90%;
    align-self: center;
    margin-bottom: 2%;
}
.form-control{
    background-color: rgb(232, 232, 232);
}
